# Compiler and linker output
*.o
*.obj
*.so
*.a
*.lo
*.la
*.rsp
*.swp
*~

# Generated dependency and local build configuration files
/depend.mk
/*/depend.mk
/vars_.mk
/vars_local.mk
/*/vars.mk
/*/vars_.mk
/*/vars_gcc.mk
/*/vars_linux.mk
/slib/compiler_details.h

# Generated parser and utility-source links
/mex/mex_tab.c
/mex/mex_tab.h
/util/l_attach.c
/util/max2priv.c

# Rebuildable executables without a filename extension
/btree/bttest
/btree/trackexp
/btree/trackimp
/max/max
/mex/mex
/squish/sqconv
/squish/sqfix
/squish/sqinfo
/squish/sqpack
/squish/sqreidx
/squish/sqset
/squish/squish
/squish/sstat
/util/accem
/util/ansi2bbs
/util/ansi2mec
/util/cvtusr
/util/editcall
/util/fb
/util/fixlr
/util/maid
/util/maxcomm
/util/mecca
/util/mr
/util/scanbld
/util/setlr
/util/silt
/lang/english.ltf
/lang/english.lth
/lang/english.mh
